body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #756f6f;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #756f6f;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  nav a:hover {
    background-color: #756f6f;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  section {
    margin: 20px 0;
  }
  
  section h2 {
    margin: 0;
    color: #000000;
  }
  
  section h3 {
    margin: 10px 0;
    color: #756f6f;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    margin: 5px 0;
  }

  /* Barres de compétences */
.skill-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .skill-bar-fill {
    height: 100%;
    background-color: #000000;
    border-radius: 5px;
    transition: width 0.2s;
  }
  
  .photo-profil {
    position: absolute;
    top: 0;
    right: 0;
  }